<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <div class="nav navbar-nav mr-sm-2">
                <a class="nav-item nav-link" href="#">Signup</a>
                <a class="nav-item nav-link" href="#">Login</a>
                <a class="nav-item nav-link" href="#">Logout</a>
            </div>
        </div>
    </nav>