<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#" /> 
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <div class="nav navbar-nav mr-sm-2">
                <% if(!currentUser){ %>
                    <a class="nav-item nav-link" href="/register">Signup</a>
                    <a class="nav-item nav-link" href="/login">Login</a>
                <% } else { %>
                    <a class="nav-item nav-link">Signed in as <%= currentUser.username %></a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length >0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
        <% if(success && success.length >0){ %>          
          <div class="alert alert-success" role="alert">
            <%= success %>              
          </div>
          <% } %>
          
    </div>