<% include partials/header %>

<h1>OMDb Movie Search</h1>

<form action="/movies" method="get">
    <input type="text" name="movie" placeholder="movie search">
    <button>Search Movie</button>
</form>

<% include partials/footer %>
