<h1>secret page!</h1>

<ul>
    <li><a href="/register">register</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/logout">logout</a></li>
    <li><a href="/secret">secret</a></li>
</ul>