<% include ../partials/header %>

    <div class="container" id="new-container"> 
        <div class="card">
        <h1 class="text-center card-header">Edit Comment</h1>
        <div class="form-div">
            <form action="/campgrounds/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <textarea type="text" name="comment[text]" class="form-control"><%=comment.text%></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
    </div>

    <% include ../partials/footer %>