<% include ../partials/header %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to YelpCamp</h1>
            <p class="lead">See all of the most popular campgrounds around the world!</p>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new Campground</a>
            </p>
        </div>

        <div class="row">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <figure class="figure text-center border border-secondary rounded">
                        <img src="<%=campground.image%>" class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption"><h5>
                            <%= campground.name %></h5>
                        </figcaption>
                        <a class="btn btn-sm btn-primary" href="/campgrounds/<%=campground._id%>">More Info</a>
                    </figure>
                </div>
                <% }) %>
        </div>
    </div>
<% include ../partials/footer %>